{% extends 'base.html' %}
{% block title %}Make Payment{% endblock %}
{% block username %}{{f_name}}{% endblock %}
{% block pay %}class="active"{% endblock %}
{% block content %}

<h1>New Transaction</h1><br>
    <form method="POST" class="post-form">{% csrf_token %}
        <p>
                {{ form.username_of_recipient.label_tag }}</p><br>
            <p>{{ form.username_of_recipient }}</p><br>

            <p>
                {{ form.amount.label_tag }}</p><br>
            <p>{{ form.amount }}</p><br>

            <input class="btn btn-success btn-sm" type="submit" value="Make Payment" />
        </center>
        </p>



    </form>


{% endblock %}
